Apis_Internas.json
{"flowContents":{"identifier":"9bd5daed-6dec-3403-8ded-37ce447c9247","instanceIdentifier":"a3ae4c77-b879-1f53-ddf9-6eae97baff45","name":"Apis_Internas","comments":"","position":{"x":-856.0,"y":-392.0},"processGroups":[{"identifier":"b1d618a4-d8d6-3b0e-b996-66ad21895c04","instanceIdentifier":"a3ae4caa-b879-1f53-aaec-f5ab61837160","name":"Comunicação Teams","comments":"","position":{"x":296.0,"y":-440.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"88be7095-55ac-3654-b249-876ed456878d","instanceIdentifier":"a3ae4cae-b879-1f53-c7f0-a6ddf319b876","name":"InvokeHTTP","comments":"","position":{"x":-176.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://torratorra.webhook.office.com/webhookb2/2be8b96b-6749-4d0e-a4d8-62dad3fff1a5@c163f877-4db7-4659-b2af-684ee2705f31/IncomingWebhook/9e5744c7225e4669b8e8ad7a04accbaa/26dcac5b-a38b-4d0c-97dc-5fd83e907216","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b1d618a4-d8d6-3b0e-b996-66ad21895c04"},{"identifier":"eedb7a51-1e92-3789-b90a-199186d635fb","instanceIdentifier":"be453c58-c510-151c-ddfa-c5134d038845","name":"HandleHttpResponse","comments":"","position":{"x":-176.0,"y":-216.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dc1ee35b-17a2-3cbf-9d93-4475c85125d7","http.context.identifier":"contextIdentifier","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"http.context.identifier":{"name":"http.context.identifier","displayName":"http.context.identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b1d618a4-d8d6-3b0e-b996-66ad21895c04"},{"identifier":"cf80d979-1b9c-3229-81ee-63b0345fc206","instanceIdentifier":"a3ae4cac-b879-1f53-af0e-4f2d59c0a13b","name":"ReplaceText","comments":"","position":{"x":-656.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"text\": \"${Mensagem}\"\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b1d618a4-d8d6-3b0e-b996-66ad21895c04"},{"identifier":"7e2a110c-a9ee-391f-b035-176fb558e72f","instanceIdentifier":"a3ae4cb1-b879-1f53-8e04-f57c416fad58","name":"Atribuir Variaveis","comments":"","position":{"x":-656.0,"y":-208.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Mensagem":"$.Mensagem","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mensagem":{"name":"Mensagem","displayName":"Mensagem","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b1d618a4-d8d6-3b0e-b996-66ad21895c04"}],"inputPorts":[{"identifier":"c4beec07-514f-38da-be77-459af4c63acb","instanceIdentifier":"a3ae4caf-b879-1f53-74cb-52e00ac30810","name":"ComunicacaoTeams","position":{"x":-602.9999847412109,"y":-338.97654724121094},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"b1d618a4-d8d6-3b0e-b996-66ad21895c04"}],"outputPorts":[],"connections":[{"identifier":"0e6ba634-e93e-3964-a629-1868f501cb93","instanceIdentifier":"a3ae4cb4-b879-1f53-29ff-014b2861a0c0","name":"","source":{"id":"cf80d979-1b9c-3229-81ee-63b0345fc206","type":"PROCESSOR","groupId":"b1d618a4-d8d6-3b0e-b996-66ad21895c04","name":"ReplaceText","comments":"","instanceIdentifier":"a3ae4cac-b879-1f53-af0e-4f2d59c0a13b"},"destination":{"id":"88be7095-55ac-3654-b249-876ed456878d","type":"PROCESSOR","groupId":"b1d618a4-d8d6-3b0e-b996-66ad21895c04","name":"InvokeHTTP","comments":"","instanceIdentifier":"a3ae4cae-b879-1f53-c7f0-a6ddf319b876"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b1d618a4-d8d6-3b0e-b996-66ad21895c04"},{"identifier":"400abf8f-8db5-38ce-a0c8-be435e9a6d4c","instanceIdentifier":"a3ae4cb2-b879-1f53-7d69-fda1e8d8b122","name":"","source":{"id":"c4beec07-514f-38da-be77-459af4c63acb","type":"INPUT_PORT","groupId":"b1d618a4-d8d6-3b0e-b996-66ad21895c04","name":"ComunicacaoTeams","instanceIdentifier":"a3ae4caf-b879-1f53-74cb-52e00ac30810"},"destination":{"id":"7e2a110c-a9ee-391f-b035-176fb558e72f","type":"PROCESSOR","groupId":"b1d618a4-d8d6-3b0e-b996-66ad21895c04","name":"Atribuir Variaveis","comments":"","instanceIdentifier":"a3ae4cb1-b879-1f53-8e04-f57c416fad58"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b1d618a4-d8d6-3b0e-b996-66ad21895c04"},{"identifier":"00292db0-2254-3e96-be83-5f85cfd9f0f7","instanceIdentifier":"a3ae4cb3-b879-1f53-a0a7-d069864a24f8","name":"","source":{"id":"7e2a110c-a9ee-391f-b035-176fb558e72f","type":"PROCESSOR","groupId":"b1d618a4-d8d6-3b0e-b996-66ad21895c04","name":"Atribuir Variaveis","comments":"","instanceIdentifier":"a3ae4cb1-b879-1f53-8e04-f57c416fad58"},"destination":{"id":"cf80d979-1b9c-3229-81ee-63b0345fc206","type":"PROCESSOR","groupId":"b1d618a4-d8d6-3b0e-b996-66ad21895c04","name":"ReplaceText","comments":"","instanceIdentifier":"a3ae4cac-b879-1f53-af0e-4f2d59c0a13b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b1d618a4-d8d6-3b0e-b996-66ad21895c04"},{"identifier":"66434967-929d-3a59-b799-3b204d01841c","instanceIdentifier":"be453c59-c510-151c-ceda-c739e325bf96","name":"","source":{"id":"88be7095-55ac-3654-b249-876ed456878d","type":"PROCESSOR","groupId":"b1d618a4-d8d6-3b0e-b996-66ad21895c04","name":"InvokeHTTP","comments":"","instanceIdentifier":"a3ae4cae-b879-1f53-c7f0-a6ddf319b876"},"destination":{"id":"eedb7a51-1e92-3789-b90a-199186d635fb","type":"PROCESSOR","groupId":"b1d618a4-d8d6-3b0e-b996-66ad21895c04","name":"HandleHttpResponse","comments":"","instanceIdentifier":"be453c58-c510-151c-ddfa-c5134d038845"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b1d618a4-d8d6-3b0e-b996-66ad21895c04"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"42497813-165e-3e2c-87d1-1b6a0a4d1e17","instanceIdentifier":"5e918cbf-0a8a-3ee3-3978-5a75b46ecdfd","name":"GeraTokenParadigma","comments":"","position":{"x":-240.0,"y":-440.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"23f7651a-74e1-345d-b70f-698937f6cb2f","instanceIdentifier":"d532f3cb-b279-3592-d9a0-f2df56ba6d17","name":"HandleHttpResponse","comments":"","position":{"x":208.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dc1ee35b-17a2-3cbf-9d93-4475c85125d7","http.context.identifier":"contextIdentifier","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"http.context.identifier":{"name":"http.context.identifier","displayName":"http.context.identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"42497813-165e-3e2c-87d1-1b6a0a4d1e17"},{"identifier":"cdc4c981-9f0f-30d1-9caa-d6cecfeb9289","instanceIdentifier":"c057d724-826a-3c60-accd-170c95abc581","name":"Envia o conteudo do flowfile para api","comments":"","position":{"x":-344.0,"y":96.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://login-hml.paradigmabs.com.br/lojastorra1-prj/connect/token","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/x-www-form-urlencoded","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"42497813-165e-3e2c-87d1-1b6a0a4d1e17"},{"identifier":"5b1358a7-65d1-3f6b-89b4-f250130e6cd6","instanceIdentifier":"6682f833-8617-3ffb-dd6f-819fcd35a511","name":"ReplaceText","comments":"","position":{"x":-352.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Regular Expression":"(?-s)^.*$","Replacement Value":"client_id=01d1d408-b17b-4c63-80c1-d1e545864442&client_secret=7edT9cb0YiMp&grant_type=client_credentials&scope=api1","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"42497813-165e-3e2c-87d1-1b6a0a4d1e17"}],"inputPorts":[{"identifier":"66392d1c-a47f-3062-b086-d818dbb829d0","instanceIdentifier":"99d3fd3d-b692-32f1-d293-fffee87e2e56","name":"geratoken","position":{"x":-328.0,"y":-160.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"42497813-165e-3e2c-87d1-1b6a0a4d1e17"}],"outputPorts":[],"connections":[{"identifier":"e465188b-f4cd-3c0b-bc6a-8da562943f91","instanceIdentifier":"2cc18147-7e84-3bcd-b3b3-3cfb64355805","name":"","source":{"id":"5b1358a7-65d1-3f6b-89b4-f250130e6cd6","type":"PROCESSOR","groupId":"42497813-165e-3e2c-87d1-1b6a0a4d1e17","name":"ReplaceText","comments":"","instanceIdentifier":"6682f833-8617-3ffb-dd6f-819fcd35a511"},"destination":{"id":"cdc4c981-9f0f-30d1-9caa-d6cecfeb9289","type":"PROCESSOR","groupId":"42497813-165e-3e2c-87d1-1b6a0a4d1e17","name":"Envia o conteudo do flowfile para api","comments":"","instanceIdentifier":"c057d724-826a-3c60-accd-170c95abc581"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"42497813-165e-3e2c-87d1-1b6a0a4d1e17"},{"identifier":"d696b958-0dce-3038-bed8-39beced9c76b","instanceIdentifier":"31fa18d7-f862-30e2-2e0b-db0ba80eb38c","name":"","source":{"id":"cdc4c981-9f0f-30d1-9caa-d6cecfeb9289","type":"PROCESSOR","groupId":"42497813-165e-3e2c-87d1-1b6a0a4d1e17","name":"Envia o conteudo do flowfile para api","comments":"","instanceIdentifier":"c057d724-826a-3c60-accd-170c95abc581"},"destination":{"id":"23f7651a-74e1-345d-b70f-698937f6cb2f","type":"PROCESSOR","groupId":"42497813-165e-3e2c-87d1-1b6a0a4d1e17","name":"HandleHttpResponse","comments":"","instanceIdentifier":"d532f3cb-b279-3592-d9a0-f2df56ba6d17"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"42497813-165e-3e2c-87d1-1b6a0a4d1e17"},{"identifier":"72074880-2109-373b-9e0c-c8493cbb30aa","instanceIdentifier":"1699f32a-7e3a-3e28-ab94-cbe2791b6880","name":"","source":{"id":"66392d1c-a47f-3062-b086-d818dbb829d0","type":"INPUT_PORT","groupId":"42497813-165e-3e2c-87d1-1b6a0a4d1e17","name":"geratoken","instanceIdentifier":"99d3fd3d-b692-32f1-d293-fffee87e2e56"},"destination":{"id":"5b1358a7-65d1-3f6b-89b4-f250130e6cd6","type":"PROCESSOR","groupId":"42497813-165e-3e2c-87d1-1b6a0a4d1e17","name":"ReplaceText","comments":"","instanceIdentifier":"6682f833-8617-3ffb-dd6f-819fcd35a511"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"42497813-165e-3e2c-87d1-1b6a0a4d1e17"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","instanceIdentifier":"d03d787a-4423-365b-1471-02e991c663f7","name":"Registro Auditoria","comments":"","position":{"x":-248.0,"y":-696.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"95accb82-872b-34ae-b7e5-9e7cfaccd5c5","instanceIdentifier":"282d1d81-487c-35d5-dc05-d417ade3a43f","name":"Converter Retorno para JSON","comments":"","position":{"x":-1856.0,"y":-824.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"c937d1d4-30fe-3174-87eb-6c6d7193ca84","Record Reader":"b8138b4a-fde4-34bb-8eb6-c0114b28bcc6"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"94b94bed-ef45-387e-9255-2e19ec97ab4f","instanceIdentifier":"a3ae4cb6-b879-1f53-f4e0-eed2e8595019","name":"InvokeHTTP","comments":"","position":{"x":-1360.0,"y":-584.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://localhost:8084/comunicacaoTeams","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"3d2eaa44-d79f-357b-a4dc-353004e684dc","instanceIdentifier":"151cc510-be45-3c58-dfc6-e27f54cf5061","name":"HandleHttpResponse","comments":"","position":{"x":-1384.0,"y":-824.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dc1ee35b-17a2-3cbf-9d93-4475c85125d7","http.context.identifier":"contextIdentifier","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"http.context.identifier":{"name":"http.context.identifier","displayName":"http.context.identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"6fecdce8-234e-3e85-b7af-bc9d4ce37f79","instanceIdentifier":"371005de-4aff-3820-8b12-fed31109624c","name":"Registro Auditoria Banco","comments":"","position":{"x":-1840.0,"y":-616.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"81e7f096-cd3f-3b0d-bd79-22fcbcc142d7","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"IF '${Status}' = 'Iniciado'\nBEGIN\n\tDECLARE @ItemAuditoria UNIQUEIDENTIFIER;\n    EXEC TTP_REGISTRA_AUDITORIA_PROCESSO @Item = 482100758,\n                         @Status = '${Status}', \n                         @Mensagem = '${Mensagem}',\n                         @Parametros = '${Parametros}',\n                         @ItemExecutado = @ItemAuditoria OUTPUT;\n\n    SELECT @ItemAuditoria as Registro\nEND\nELSE\n\tBEGIN\n\t\tEXEC TTP_REGISTRA_AUDITORIA_PROCESSO @Item = 482100758,\n                         @Status = '${Status}', \n                         @Mensagem = '${Mensagem}',\n                         @Parametros = '${Parametros}',\n\t\t\t\t         @ItemExecucao = '${Registro}'\n\tEND\n\n","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"2cec824b-5a87-38d8-a848-57d20c842604","instanceIdentifier":"d762b303-f933-3700-e302-aa679a9c7f1b","name":"Atualizar Variaveis","comments":"","position":{"x":-2344.0,"y":-608.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M4"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"Mensagem":"${Mensagem:replace(\"'\",\"\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mensagem":{"name":"Mensagem","displayName":"Mensagem","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"5311fed9-d299-33c7-b68e-a6864cb90821","instanceIdentifier":"a3ae4cbb-b879-1f53-716a-f6ca1c4b6474","name":"ReplaceText","comments":"","position":{"x":-1360.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"Mensagem\": \"Falha durante o processo de integração envolvendo a tabela: ${Tabela}. Erro: ${Mensagem:replaceAll('\\\"', '\\\\\\\"'):replaceAll('\\n', '\\\\n'):replaceAll('\\r', '\\\\r')}\"\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"5d78113e-f875-3ecf-9929-3b92ac1f9c0e","instanceIdentifier":"a3ae4cb7-b879-1f53-3df1-68cf3586513c","name":"RouteOnAttribute","comments":"","position":{"x":-1840.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Falhou":"${Status:equals('Falha')}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"Falhou":{"name":"Falhou","displayName":"Falhou","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"e0094317-96ae-3546-9fcb-f3c74ddbddf5","instanceIdentifier":"1bf034af-97e4-1ee9-8cb6-4adf6bfaf395","name":"ConvertRecord","comments":"","position":{"x":-872.0,"y":-488.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":null,"Record Reader":null},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"1ed8eab0-c737-31ed-9c7d-01de6d82d447","instanceIdentifier":"f90b6eda-0cad-33fe-5509-579ebd7c9bad","name":"Atribuir Variaveis","comments":"","position":{"x":-2352.0,"y":-824.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Status":"$.Status","Destination":"flowfile-attribute","Parametros":"$.Parametros","Max String Length":"20 MB","Registro":"$.Registro","Return Type":"auto-detect","Null Value Representation":"empty string","Mensagem":"$.Mensagem","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Status":{"name":"Status","displayName":"Status","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Parametros":{"name":"Parametros","displayName":"Parametros","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Registro":{"name":"Registro","displayName":"Registro","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mensagem":{"name":"Mensagem","displayName":"Mensagem","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"}],"inputPorts":[{"identifier":"ad51a7c1-50b1-31a3-a47b-bcc9db821f79","instanceIdentifier":"2585201c-b646-3bc8-523a-8248fa29452c","name":"Auditoria","position":{"x":-2640.0,"y":-800.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"}],"outputPorts":[],"connections":[{"identifier":"2599a5f4-73ba-303f-ac30-e7c08026171d","instanceIdentifier":"a48b8deb-3393-3e93-6fb6-fa2d6d5f5f00","name":"","source":{"id":"1ed8eab0-c737-31ed-9c7d-01de6d82d447","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"Atribuir Variaveis","comments":"","instanceIdentifier":"f90b6eda-0cad-33fe-5509-579ebd7c9bad"},"destination":{"id":"2cec824b-5a87-38d8-a848-57d20c842604","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"Atualizar Variaveis","comments":"","instanceIdentifier":"d762b303-f933-3700-e302-aa679a9c7f1b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"3f9ff170-5f31-3680-9adc-42c2c26df3a7","instanceIdentifier":"a3ae4cbc-b879-1f53-8e64-2f5b600686f5","name":"","source":{"id":"5311fed9-d299-33c7-b68e-a6864cb90821","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"ReplaceText","comments":"","instanceIdentifier":"a3ae4cbb-b879-1f53-716a-f6ca1c4b6474"},"destination":{"id":"94b94bed-ef45-387e-9255-2e19ec97ab4f","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"InvokeHTTP","comments":"","instanceIdentifier":"a3ae4cb6-b879-1f53-f4e0-eed2e8595019"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"76b4ecba-cf0f-3745-86d9-c091d1e06288","instanceIdentifier":"1b323ade-7b6b-3168-4b75-d1f7ed10078e","name":"","source":{"id":"2cec824b-5a87-38d8-a848-57d20c842604","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"Atualizar Variaveis","comments":"","instanceIdentifier":"d762b303-f933-3700-e302-aa679a9c7f1b"},"destination":{"id":"6fecdce8-234e-3e85-b7af-bc9d4ce37f79","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"Registro Auditoria Banco","comments":"","instanceIdentifier":"371005de-4aff-3820-8b12-fed31109624c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"a68c9bc0-0016-3416-ae40-d57cf907ad6e","instanceIdentifier":"d21189b8-3286-37bf-f596-9803d18f0c57","name":"","source":{"id":"ad51a7c1-50b1-31a3-a47b-bcc9db821f79","type":"INPUT_PORT","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"Auditoria","instanceIdentifier":"2585201c-b646-3bc8-523a-8248fa29452c"},"destination":{"id":"1ed8eab0-c737-31ed-9c7d-01de6d82d447","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"Atribuir Variaveis","comments":"","instanceIdentifier":"f90b6eda-0cad-33fe-5509-579ebd7c9bad"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"24ce721d-a628-300d-a793-4a687fe911c1","instanceIdentifier":"37ac67d5-316d-32bf-edb9-cfe977e81416","name":"","source":{"id":"95accb82-872b-34ae-b7e5-9e7cfaccd5c5","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"Converter Retorno para JSON","comments":"","instanceIdentifier":"282d1d81-487c-35d5-dc05-d417ade3a43f"},"destination":{"id":"3d2eaa44-d79f-357b-a4dc-353004e684dc","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"HandleHttpResponse","comments":"","instanceIdentifier":"151cc510-be45-3c58-dfc6-e27f54cf5061"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"bcbd9812-483a-34f7-a366-ac5cabb64a3e","instanceIdentifier":"288c3384-4ec7-3777-a3d3-dfa1a7798ce1","name":"","source":{"id":"6fecdce8-234e-3e85-b7af-bc9d4ce37f79","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"Registro Auditoria Banco","comments":"","instanceIdentifier":"371005de-4aff-3820-8b12-fed31109624c"},"destination":{"id":"95accb82-872b-34ae-b7e5-9e7cfaccd5c5","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"Converter Retorno para JSON","comments":"","instanceIdentifier":"282d1d81-487c-35d5-dc05-d417ade3a43f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"82adffc7-6dde-306f-bb48-5cae4aeb00e7","instanceIdentifier":"a3ae4cb8-b879-1f53-6d2a-2ef21846f623","name":"","source":{"id":"6fecdce8-234e-3e85-b7af-bc9d4ce37f79","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"Registro Auditoria Banco","comments":"","instanceIdentifier":"371005de-4aff-3820-8b12-fed31109624c"},"destination":{"id":"5d78113e-f875-3ecf-9929-3b92ac1f9c0e","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a3ae4cb7-b879-1f53-3df1-68cf3586513c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"},{"identifier":"0f033f6c-0d36-3c11-92d6-d7fdf4de0418","instanceIdentifier":"a3ae4cbd-b879-1f53-9992-5a02fa989250","name":"","source":{"id":"5d78113e-f875-3ecf-9929-3b92ac1f9c0e","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a3ae4cb7-b879-1f53-3df1-68cf3586513c"},"destination":{"id":"5311fed9-d299-33c7-b68e-a6864cb90821","type":"PROCESSOR","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"ReplaceText","comments":"","instanceIdentifier":"a3ae4cbb-b879-1f53-716a-f6ca1c4b6474"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Falhou"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"}],"labels":[{"identifier":"92924d57-2749-3d4f-b001-c256facb804c","instanceIdentifier":"1bf0348c-97e4-1ee9-ba91-341262f07d31","position":{"x":-1424.0,"y":-640.0},"label":"Comunicação Teams","zIndex":0,"width":464.0,"height":392.0,"style":{"background-color":"#d6f3ff","font-size":"22px"},"componentType":"LABEL","groupIdentifier":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2"}],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"bf5fc46a-cccd-37bc-9711-555950fde10b","instanceIdentifier":"be453d1f-c510-151c-6344-0c6c6bcb0f78","name":"Registro Carga Tabelas","comments":"","position":{"x":816.0,"y":-440.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ed645e84-eeea-3789-9fb2-5ad619bab5bc","instanceIdentifier":"4aff3829-05de-1710-2c58-3a685dc8ef89","name":"AttributesToJSON","comments":"","position":{"x":408.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"NomeTabela, Status, UltimaAtualizacao","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf5fc46a-cccd-37bc-9711-555950fde10b"},{"identifier":"a7fdb810-8ebf-3b47-9176-04f2fb0ab335","instanceIdentifier":"4aff3828-05de-1710-4c59-8a8fd3d0ad75","name":"GenerateFlowFile","comments":"","position":{"x":416.0,"y":-464.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","NomeTabela":"Teste","Status":"Finalizado","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text","UltimaAtualizacao":"2025-01-22 10:55:12.637"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"NomeTabela":{"name":"NomeTabela","displayName":"NomeTabela","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Status":{"name":"Status","displayName":"Status","identifiesControllerService":false,"sensitive":false,"dynamic":true},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"UltimaAtualizacao":{"name":"UltimaAtualizacao","displayName":"UltimaAtualizacao","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf5fc46a-cccd-37bc-9711-555950fde10b"},{"identifier":"7d485bbd-1e2a-3757-8f09-79200d4bbb09","instanceIdentifier":"4aff3826-05de-1710-0acb-89642e22f6c9","name":"HandleHttpResponse","comments":"","position":{"x":-160.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dc1ee35b-17a2-3cbf-9d93-4475c85125d7","http.context.identifier":"contextIdentifier","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"http.context.identifier":{"name":"http.context.identifier","displayName":"http.context.identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf5fc46a-cccd-37bc-9711-555950fde10b"},{"identifier":"cdeccd56-9755-3c94-aff6-373aec9e6b39","instanceIdentifier":"4aff382b-05de-1710-705e-b791974dfd57","name":"InvokeHTTP","comments":"","position":{"x":440.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://localhost:8084/cargaTabela","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf5fc46a-cccd-37bc-9711-555950fde10b"},{"identifier":"13965a65-8832-306c-aba2-8f34d643a2da","instanceIdentifier":"be453d21-c510-151c-d59b-d0fd2cd29e14","name":"Atribuir Variaveis","comments":"","position":{"x":-632.0,"y":-256.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Destination":"flowfile-attribute","STATUS":"$.Status","NOME_TABELA":"$.Tabela","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","ULTIMA_ATUALIZACAO":"$.UltimaAtualizacao"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"STATUS":{"name":"STATUS","displayName":"STATUS","identifiesControllerService":false,"sensitive":false,"dynamic":true},"NOME_TABELA":{"name":"NOME_TABELA","displayName":"NOME_TABELA","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ULTIMA_ATUALIZACAO":{"name":"ULTIMA_ATUALIZACAO","displayName":"ULTIMA_ATUALIZACAO","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf5fc46a-cccd-37bc-9711-555950fde10b"},{"identifier":"a6870bf2-88ff-3c3b-bf1d-2f1c9be909b4","instanceIdentifier":"4aff3820-05de-1710-6278-f29c2ba2fa75","name":"Registro Auditoria Banco","comments":"","position":{"x":-632.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"81e7f096-cd3f-3b0d-bd79-22fcbcc142d7","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"IF NOT EXISTS (SELECT 1 FROM TABELAS_CARGA_LOG WHERE NOME_TABELA = '${NOME_TABELA}')\nBEGIN\n    INSERT INTO TABELAS_CARGA_LOG(NOME_TABELA, STATUS, ULTIMA_ATUALIZACAO) VALUES ('${NOME_TABELA}', '${STATUS}', '${ULTIMA_ATUALIZACAO}')\nEND\nELSE\n\tBEGIN\n\t\tIF EXISTS (SELECT 1 FROM TABELAS_CARGA_LOG WHERE NOME_TABELA = '${NOME_TABELA}' AND ULTIMA_ATUALIZACAO < '${ULTIMA_ATUALIZACAO}')\n\t\tBEGIN\n\t\t\tUPDATE TABELAS_CARGA_LOG SET STATUS = '${STATUS}', ULTIMA_ATUALIZACAO = '${ULTIMA_ATUALIZACAO}'  WHERE NOME_TABELA = '${NOME_TABELA}'\n\t\tEND\n\tEND","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf5fc46a-cccd-37bc-9711-555950fde10b"}],"inputPorts":[{"identifier":"98637302-c09c-3ed1-84f5-3bcdba5017c3","instanceIdentifier":"4aff3822-05de-1710-b228-d0d9de3e6aee","name":"Iniciar Carga Tabela","position":{"x":-600.0,"y":-344.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"bf5fc46a-cccd-37bc-9711-555950fde10b"}],"outputPorts":[],"connections":[{"identifier":"b86e14ac-39e3-3c2c-9a53-3e639bfc481f","instanceIdentifier":"4aff3827-05de-1710-5440-4d80b1ce55a3","name":"","source":{"id":"a6870bf2-88ff-3c3b-bf1d-2f1c9be909b4","type":"PROCESSOR","groupId":"bf5fc46a-cccd-37bc-9711-555950fde10b","name":"Registro Auditoria Banco","comments":"","instanceIdentifier":"4aff3820-05de-1710-6278-f29c2ba2fa75"},"destination":{"id":"7d485bbd-1e2a-3757-8f09-79200d4bbb09","type":"PROCESSOR","groupId":"bf5fc46a-cccd-37bc-9711-555950fde10b","name":"HandleHttpResponse","comments":"","instanceIdentifier":"4aff3826-05de-1710-0acb-89642e22f6c9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf5fc46a-cccd-37bc-9711-555950fde10b"},{"identifier":"3feb65a4-0d32-3e35-a840-15cb1996bb19","instanceIdentifier":"4aff3823-05de-1710-af8d-4ec3aa9aa935","name":"","source":{"id":"98637302-c09c-3ed1-84f5-3bcdba5017c3","type":"INPUT_PORT","groupId":"bf5fc46a-cccd-37bc-9711-555950fde10b","name":"Iniciar Carga Tabela","instanceIdentifier":"4aff3822-05de-1710-b228-d0d9de3e6aee"},"destination":{"id":"13965a65-8832-306c-aba2-8f34d643a2da","type":"PROCESSOR","groupId":"bf5fc46a-cccd-37bc-9711-555950fde10b","name":"Atribuir Variaveis","comments":"","instanceIdentifier":"be453d21-c510-151c-d59b-d0fd2cd29e14"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf5fc46a-cccd-37bc-9711-555950fde10b"},{"identifier":"c901690e-52b5-3f37-be5d-2c0d3835d5e1","instanceIdentifier":"4aff382d-05de-1710-918a-4bf34010f1ab","name":"","source":{"id":"ed645e84-eeea-3789-9fb2-5ad619bab5bc","type":"PROCESSOR","groupId":"bf5fc46a-cccd-37bc-9711-555950fde10b","name":"AttributesToJSON","comments":"","instanceIdentifier":"4aff3829-05de-1710-2c58-3a685dc8ef89"},"destination":{"id":"cdeccd56-9755-3c94-aff6-373aec9e6b39","type":"PROCESSOR","groupId":"bf5fc46a-cccd-37bc-9711-555950fde10b","name":"InvokeHTTP","comments":"","instanceIdentifier":"4aff382b-05de-1710-705e-b791974dfd57"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf5fc46a-cccd-37bc-9711-555950fde10b"},{"identifier":"e39f4e5a-f0b8-362a-8ab6-95a8a3e3ee33","instanceIdentifier":"4aff3821-05de-1710-54a9-ab2caea3bb3b","name":"","source":{"id":"13965a65-8832-306c-aba2-8f34d643a2da","type":"PROCESSOR","groupId":"bf5fc46a-cccd-37bc-9711-555950fde10b","name":"Atribuir Variaveis","comments":"","instanceIdentifier":"be453d21-c510-151c-d59b-d0fd2cd29e14"},"destination":{"id":"a6870bf2-88ff-3c3b-bf1d-2f1c9be909b4","type":"PROCESSOR","groupId":"bf5fc46a-cccd-37bc-9711-555950fde10b","name":"Registro Auditoria Banco","comments":"","instanceIdentifier":"4aff3820-05de-1710-6278-f29c2ba2fa75"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf5fc46a-cccd-37bc-9711-555950fde10b"},{"identifier":"9459c77b-c32d-3d3d-8380-70abcb3e2aab","instanceIdentifier":"4aff382c-05de-1710-23d5-cf0badce9f37","name":"","source":{"id":"a7fdb810-8ebf-3b47-9176-04f2fb0ab335","type":"PROCESSOR","groupId":"bf5fc46a-cccd-37bc-9711-555950fde10b","name":"GenerateFlowFile","comments":"","instanceIdentifier":"4aff3828-05de-1710-4c59-8a8fd3d0ad75"},"destination":{"id":"ed645e84-eeea-3789-9fb2-5ad619bab5bc","type":"PROCESSOR","groupId":"bf5fc46a-cccd-37bc-9711-555950fde10b","name":"AttributesToJSON","comments":"","instanceIdentifier":"4aff3829-05de-1710-2c58-3a685dc8ef89"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf5fc46a-cccd-37bc-9711-555950fde10b"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","instanceIdentifier":"1bf0359c-97e4-1ee9-6dbd-cfabbdbbcb55","name":"LIgação Twillio","comments":"","position":{"x":848.0,"y":-696.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b6cfd582-638d-3424-96ba-be3b503b8d43","instanceIdentifier":"1bf035a2-97e4-1ee9-970c-76be7e7f1b78","name":"LogAttribute","comments":"","position":{"x":482.0,"y":-99.18125915527344},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"6befabae-0f86-3920-8280-c714644c62fa","instanceIdentifier":"1bf0359e-97e4-1ee9-b49b-f68cb91b5dbc","name":"InvokeHTTP","comments":"","position":{"x":-384.0,"y":88.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"Basic AC92a2022136aac7e5a3baf77dc729e0cc","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.twilio.com/2010-04-01/Accounts/AC92a2022136aac7e5a3baf77dc729e0cc/Calls.json\n","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":"AC92a2022136aac7e5a3baf77dc729e0cc","Request Content-Type":"application/x-www-form-urlencoded","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"a8036f2f-482c-3ca2-b2e9-9556563556d3","instanceIdentifier":"1bf03626-97e4-1ee9-6336-b9d8efa0660d","name":"LogAttribute","comments":"","position":{"x":1336.0,"y":16.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"3888c850-e9e8-3ece-9617-953e8556a1b1","instanceIdentifier":"1bf03631-97e4-1ee9-db58-f60136ddd50a","name":"ReplaceText","comments":"","position":{"x":1394.5,"y":-191.47656250000006},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"To=${to}&From=${from}&Twiml=${twiml:urlEncode()}\n","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"0deb2baf-28cb-3db1-ac77-b63c975d2ea0","instanceIdentifier":"1bf0361e-97e4-1ee9-6987-b563f4535b09","name":"InvokeHTTP","comments":"","position":{"x":864.0,"y":112.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"Basic AC92a2022136aac7e5a3baf77dc729e0cc","Socket Read Timeout":"15 secs","Twiml":"${twiml:urlEncode()}","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.twilio.com/2010-04-01/Accounts/AC92a2022136aac7e5a3baf77dc729e0cc/Calls.json\n","Request OAuth2 Access Token Provider":null,"To":"${to:trim()}","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"From":"${from:trim()}","Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":"AC92a2022136aac7e5a3baf77dc729e0cc","Request Content-Type":"application/x-www-form-urlencoded","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Twiml":{"name":"Twiml","displayName":"Twiml","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"7e025360-6b51-30fb-a15e-9b34a795ea84","instanceIdentifier":"1bf035b8-97e4-1ee9-8be5-5d116d453b25","name":"LogAttribute","comments":"","position":{"x":120.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"ae6c9092-1c5b-3a96-9e2e-7270be1cbaab","instanceIdentifier":"1bf035bc-97e4-1ee9-db8d-448d0d2785ca","name":"LogAttribute","comments":"","position":{"x":-408.0,"y":288.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"2d291fb9-f12e-3ec8-b3a9-4559e08272d4","instanceIdentifier":"1bf0359d-97e4-1ee9-b911-8e72e5610352","name":"GenerateFlowFile","comments":"","position":{"x":-406.0,"y":-102.18125915527344},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/x-www-form-urlencoded","generate-ff-custom-text":"To=+5511992005696&From=+18573494914&MachineDetection=Enable&Twiml=%3CResponse%3E%3CSay%3EOlá%20eu%20sou%20o%20André%20estou%20testando%20o%20NIFI%20porque%20sou%20ousado%3C%2FSay%3E%3C%2FResponse%3E&StatusCallback=http%3A%2F%2Flocalhost%3A8084%2Ftwiliowebhook&StatusCallbackEvent=initiated,ringing,answered,completed","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"5fee2e9a-06c3-3e60-9379-21bef4439128","instanceIdentifier":"1bf0359f-97e4-1ee9-0fec-9b103c610176","name":"LogAttribute","comments":"","position":{"x":304.0,"y":203.81874084472656},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"1e1cdfac-e4ec-3304-a947-8cb62b684959","instanceIdentifier":"1bf03621-97e4-1ee9-8369-3305b9808859","name":"UpdateAttribute","comments":"","position":{"x":872.0,"y":-96.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M4"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"twiml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Say voice=\"alice\" language=\"pt-BR\">\n        ${message}\n\t\t<Hangup/>\n    </Say>\n</Response>"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"twiml":{"name":"twiml","displayName":"twiml","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"7888ebb6-f617-31a5-b7c0-fb6e50efb5d3","instanceIdentifier":"1bf0363b-97e4-1ee9-ee24-775e29e172f6","name":"GenerateFlowFile","comments":"","position":{"x":1357.75,"y":267.78515625},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"To=+5511992005696&From=+18573494914&Twiml=%3C%3Fxml+version%3D%221.0%22+encoding%3D%22UTF-8%22%3F%3E%0A%3CResponse%3E%0A++++%3CSay+voice%3D%22alice%22+language%3D%22pt-BR%22%3EAndr%C3%A9+est%C3%A1+testando+o+twilio%2C+diga+OK+ao+final+da+mensagem%3C%2FSay%3E%0A++++%3CHangup%2F%3E%0A%3C%2FResponse%3E","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"c487b8aa-0080-3c2c-810b-722cabe01c61","instanceIdentifier":"1bf03620-97e4-1ee9-f5ac-ed7da06ac9fa","name":"GenerateFlowFile","comments":"","position":{"x":856.0,"y":-328.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","from":"+18573494914","to":"+5511992005696","message":"O Gabriel está testando comigo","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"from":{"name":"from","displayName":"from","identifiesControllerService":false,"sensitive":false,"dynamic":true},"to":{"name":"to","displayName":"to","identifiesControllerService":false,"sensitive":false,"dynamic":true},"message":{"name":"message","displayName":"message","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ae25c789-6d62-38c8-8c18-615d9bda2e27","instanceIdentifier":"1bf035a1-97e4-1ee9-2358-39b98e520d0a","name":"","source":{"id":"6befabae-0f86-3920-8280-c714644c62fa","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"InvokeHTTP","comments":"","instanceIdentifier":"1bf0359e-97e4-1ee9-b49b-f68cb91b5dbc"},"destination":{"id":"5fee2e9a-06c3-3e60-9379-21bef4439128","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"LogAttribute","comments":"","instanceIdentifier":"1bf0359f-97e4-1ee9-0fec-9b103c610176"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"432708f6-6aa5-3a26-9279-7e2bfc21c666","instanceIdentifier":"1bf035a0-97e4-1ee9-17ee-1479efc58b04","name":"","source":{"id":"2d291fb9-f12e-3ec8-b3a9-4559e08272d4","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"GenerateFlowFile","comments":"","instanceIdentifier":"1bf0359d-97e4-1ee9-b911-8e72e5610352"},"destination":{"id":"6befabae-0f86-3920-8280-c714644c62fa","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"InvokeHTTP","comments":"","instanceIdentifier":"1bf0359e-97e4-1ee9-b49b-f68cb91b5dbc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"a9eabf46-0b7d-383c-b3af-20e6f177523b","instanceIdentifier":"1bf035a3-97e4-1ee9-674b-fdb640155167","name":"","source":{"id":"6befabae-0f86-3920-8280-c714644c62fa","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"InvokeHTTP","comments":"","instanceIdentifier":"1bf0359e-97e4-1ee9-b49b-f68cb91b5dbc"},"destination":{"id":"b6cfd582-638d-3424-96ba-be3b503b8d43","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"LogAttribute","comments":"","instanceIdentifier":"1bf035a2-97e4-1ee9-970c-76be7e7f1b78"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"dd390aeb-bf30-3419-b804-0c6d98d390be","instanceIdentifier":"1bf03633-97e4-1ee9-7888-8b7cbcdd1d3b","name":"","source":{"id":"3888c850-e9e8-3ece-9617-953e8556a1b1","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"ReplaceText","comments":"","instanceIdentifier":"1bf03631-97e4-1ee9-db58-f60136ddd50a"},"destination":{"id":"a8036f2f-482c-3ca2-b2e9-9556563556d3","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"LogAttribute","comments":"","instanceIdentifier":"1bf03626-97e4-1ee9-6336-b9d8efa0660d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"bef5d67a-31fc-36c1-8fea-1dc5cdc5d16d","instanceIdentifier":"1bf0363c-97e4-1ee9-7dcc-0f82f60e222c","name":"","source":{"id":"7888ebb6-f617-31a5-b7c0-fb6e50efb5d3","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"GenerateFlowFile","comments":"","instanceIdentifier":"1bf0363b-97e4-1ee9-ee24-775e29e172f6"},"destination":{"id":"0deb2baf-28cb-3db1-ac77-b63c975d2ea0","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"InvokeHTTP","comments":"","instanceIdentifier":"1bf0361e-97e4-1ee9-6987-b563f4535b09"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"357c2f23-cfd7-3feb-b76b-6af202f8046d","instanceIdentifier":"1bf035b9-97e4-1ee9-5d4a-7d7f01baaf66","name":"","source":{"id":"6befabae-0f86-3920-8280-c714644c62fa","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"InvokeHTTP","comments":"","instanceIdentifier":"1bf0359e-97e4-1ee9-b49b-f68cb91b5dbc"},"destination":{"id":"7e025360-6b51-30fb-a15e-9b34a795ea84","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"LogAttribute","comments":"","instanceIdentifier":"1bf035b8-97e4-1ee9-8be5-5d116d453b25"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"f41fdc53-687e-334a-828c-19369217c72a","instanceIdentifier":"1bf03622-97e4-1ee9-d550-253cce452abd","name":"","source":{"id":"c487b8aa-0080-3c2c-810b-722cabe01c61","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"GenerateFlowFile","comments":"","instanceIdentifier":"1bf03620-97e4-1ee9-f5ac-ed7da06ac9fa"},"destination":{"id":"1e1cdfac-e4ec-3304-a947-8cb62b684959","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"UpdateAttribute","comments":"","instanceIdentifier":"1bf03621-97e4-1ee9-8369-3305b9808859"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"42c172c0-7912-3f9a-9396-56b7056a59fc","instanceIdentifier":"1bf035bd-97e4-1ee9-a8fc-6aa9b777fd0a","name":"","source":{"id":"6befabae-0f86-3920-8280-c714644c62fa","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"InvokeHTTP","comments":"","instanceIdentifier":"1bf0359e-97e4-1ee9-b49b-f68cb91b5dbc"},"destination":{"id":"ae6c9092-1c5b-3a96-9e2e-7270be1cbaab","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"LogAttribute","comments":"","instanceIdentifier":"1bf035bc-97e4-1ee9-db8d-448d0d2785ca"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"1cd1eb98-d594-3c1d-ade6-bfeaca2fec6a","instanceIdentifier":"1bf03624-97e4-1ee9-f37d-07ea2c621f1f","name":"","source":{"id":"0deb2baf-28cb-3db1-ac77-b63c975d2ea0","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"InvokeHTTP","comments":"","instanceIdentifier":"1bf0361e-97e4-1ee9-6987-b563f4535b09"},"destination":{"id":"b6cfd582-638d-3424-96ba-be3b503b8d43","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"LogAttribute","comments":"","instanceIdentifier":"1bf035a2-97e4-1ee9-970c-76be7e7f1b78"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"982d5b4b-ae8b-3fe0-b615-1cfbb20f5113","instanceIdentifier":"1bf03628-97e4-1ee9-ee5b-94e7fdb0a9ac","name":"","source":{"id":"0deb2baf-28cb-3db1-ac77-b63c975d2ea0","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"InvokeHTTP","comments":"","instanceIdentifier":"1bf0361e-97e4-1ee9-6987-b563f4535b09"},"destination":{"id":"5fee2e9a-06c3-3e60-9379-21bef4439128","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"LogAttribute","comments":"","instanceIdentifier":"1bf0359f-97e4-1ee9-0fec-9b103c610176"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"dc1587a0-9de7-3f34-b9c0-dc7c3008bd91","instanceIdentifier":"1bf03623-97e4-1ee9-512f-6af4d0ef3d1b","name":"","source":{"id":"1e1cdfac-e4ec-3304-a947-8cb62b684959","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"UpdateAttribute","comments":"","instanceIdentifier":"1bf03621-97e4-1ee9-8369-3305b9808859"},"destination":{"id":"3888c850-e9e8-3ece-9617-953e8556a1b1","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"ReplaceText","comments":"","instanceIdentifier":"1bf03631-97e4-1ee9-db58-f60136ddd50a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"10d74412-6bf1-3a8a-a287-292fb9b9d760","instanceIdentifier":"1bf03632-97e4-1ee9-30fd-cb80fbfd999d","name":"","source":{"id":"3888c850-e9e8-3ece-9617-953e8556a1b1","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"ReplaceText","comments":"","instanceIdentifier":"1bf03631-97e4-1ee9-db58-f60136ddd50a"},"destination":{"id":"0deb2baf-28cb-3db1-ac77-b63c975d2ea0","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"InvokeHTTP","comments":"","instanceIdentifier":"1bf0361e-97e4-1ee9-6987-b563f4535b09"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"},{"identifier":"52c186d3-f9f5-3578-8e3c-96637f622c2a","instanceIdentifier":"1bf03627-97e4-1ee9-b172-4743eec3b3f7","name":"","source":{"id":"0deb2baf-28cb-3db1-ac77-b63c975d2ea0","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"InvokeHTTP","comments":"","instanceIdentifier":"1bf0361e-97e4-1ee9-6987-b563f4535b09"},"destination":{"id":"a8036f2f-482c-3ca2-b2e9-9556563556d3","type":"PROCESSOR","groupId":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18","name":"LogAttribute","comments":"","instanceIdentifier":"1bf03626-97e4-1ee9-6336-b9d8efa0660d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93ddec4e-b5da-3df3-a102-a1a6f2dadf18"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"}],"remoteProcessGroups":[],"processors":[{"identifier":"0c001a06-835d-3014-a707-40a1f80b7d5d","instanceIdentifier":"eb044884-ca45-3ec3-4f92-8610109bd3b6","name":"Entrada das Requisições","comments":"","position":{"x":280.0,"y":-872.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"true","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"dc1ee35b-17a2-3cbf-9d93-4475c85125d7","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":"/geraTokenParadigma|/auditorias|/comunicacaoTeams|/cargaTabela|/twiliowebhook","Allow GET":"true","Allow HEAD":"false","Listening Port":"8084","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false,"dynamic":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"e24b5ba9-2e54-3728-875a-fbc8dfe86ca0","instanceIdentifier":"1bf035b0-97e4-1ee9-a7b9-1ce4812c0753","name":"LogAttribute","comments":"","position":{"x":1424.0,"y":-616.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"4b4f1285-cefc-365d-8622-dc31ac7fcc19","instanceIdentifier":"1bf035ab-97e4-1ee9-a411-623a5c7a0bd6","name":"HandleHttpResponse","comments":"","position":{"x":896.0,"y":-896.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"HTTP Context Map":"dc1ee35b-17a2-3cbf-9d93-4475c85125d7","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"cd7f012e-47ab-35e5-a1d1-99e597101f28","instanceIdentifier":"1bf035ad-97e4-1ee9-5b2e-daa7d141ef9b","name":"LogAttribute","comments":"","position":{"x":1443.0001220703125,"y":-880.181282043457},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"3d977057-725c-3e4d-8d7b-3d03147a7d63","instanceIdentifier":"097aa345-41bd-3fc2-55fd-76d5f18279aa","name":"RouteOnAttribute","comments":"","position":{"x":280.0,"y":-680.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"tokenParadigma":"${http.request.uri:equals('/geraTokenParadigma')}","Routing Strategy":"Route to Property name","RespostaTwilio":"${http.request.uri:equals('/twiliowebhook')}","auditoria":"${http.request.uri:equals('/auditorias')}","cargaTabela":"${http.request.uri:equals('/cargaTabela')}","comunicacaoTeams":"${http.request.uri:equals('/comunicacaoTeams')}"},"propertyDescriptors":{"tokenParadigma":{"name":"tokenParadigma","displayName":"tokenParadigma","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"RespostaTwilio":{"name":"RespostaTwilio","displayName":"RespostaTwilio","identifiesControllerService":false,"sensitive":false,"dynamic":true},"auditoria":{"name":"auditoria","displayName":"auditoria","identifiesControllerService":false,"sensitive":false,"dynamic":true},"cargaTabela":{"name":"cargaTabela","displayName":"cargaTabela","identifiesControllerService":false,"sensitive":false,"dynamic":true},"comunicacaoTeams":{"name":"comunicacaoTeams","displayName":"comunicacaoTeams","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d3bc1911-14f9-32f5-b852-a5afea8174b1","instanceIdentifier":"a3ae4cb5-b879-1f53-2c4b-5fe8242301d9","name":"","source":{"id":"3d977057-725c-3e4d-8d7b-3d03147a7d63","type":"PROCESSOR","groupId":"9bd5daed-6dec-3403-8ded-37ce447c9247","name":"RouteOnAttribute","comments":"","instanceIdentifier":"097aa345-41bd-3fc2-55fd-76d5f18279aa"},"destination":{"id":"c4beec07-514f-38da-be77-459af4c63acb","type":"INPUT_PORT","groupId":"b1d618a4-d8d6-3b0e-b996-66ad21895c04","name":"ComunicacaoTeams","instanceIdentifier":"a3ae4caf-b879-1f53-74cb-52e00ac30810"},"labelIndex":0,"zIndex":0,"selectedRelationships":["comunicacaoTeams"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"18207707-15e3-3668-818b-ba8645687f5f","instanceIdentifier":"1bf035ac-97e4-1ee9-4e57-694f6e88812e","name":"","source":{"id":"3d977057-725c-3e4d-8d7b-3d03147a7d63","type":"PROCESSOR","groupId":"9bd5daed-6dec-3403-8ded-37ce447c9247","name":"RouteOnAttribute","comments":"","instanceIdentifier":"097aa345-41bd-3fc2-55fd-76d5f18279aa"},"destination":{"id":"4b4f1285-cefc-365d-8622-dc31ac7fcc19","type":"PROCESSOR","groupId":"9bd5daed-6dec-3403-8ded-37ce447c9247","name":"HandleHttpResponse","comments":"","instanceIdentifier":"1bf035ab-97e4-1ee9-a411-623a5c7a0bd6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["RespostaTwilio"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"46fdcb7d-c3a7-343c-87f8-6318e30820bb","instanceIdentifier":"1bf035b1-97e4-1ee9-79db-be7196a406c8","name":"","source":{"id":"4b4f1285-cefc-365d-8622-dc31ac7fcc19","type":"PROCESSOR","groupId":"9bd5daed-6dec-3403-8ded-37ce447c9247","name":"HandleHttpResponse","comments":"","instanceIdentifier":"1bf035ab-97e4-1ee9-a411-623a5c7a0bd6"},"destination":{"id":"e24b5ba9-2e54-3728-875a-fbc8dfe86ca0","type":"PROCESSOR","groupId":"9bd5daed-6dec-3403-8ded-37ce447c9247","name":"LogAttribute","comments":"","instanceIdentifier":"1bf035b0-97e4-1ee9-a7b9-1ce4812c0753"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"8a25c627-5ce5-37e4-8f87-095b620c8a80","instanceIdentifier":"1bf035ae-97e4-1ee9-0646-0f8f5f907df5","name":"","source":{"id":"4b4f1285-cefc-365d-8622-dc31ac7fcc19","type":"PROCESSOR","groupId":"9bd5daed-6dec-3403-8ded-37ce447c9247","name":"HandleHttpResponse","comments":"","instanceIdentifier":"1bf035ab-97e4-1ee9-a411-623a5c7a0bd6"},"destination":{"id":"cd7f012e-47ab-35e5-a1d1-99e597101f28","type":"PROCESSOR","groupId":"9bd5daed-6dec-3403-8ded-37ce447c9247","name":"LogAttribute","comments":"","instanceIdentifier":"1bf035ad-97e4-1ee9-5b2e-daa7d141ef9b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"7a4072dc-1a39-314d-b5f7-dac52872e166","instanceIdentifier":"b73a9e74-b640-3541-08e8-59fcd4db2165","name":"","source":{"id":"3d977057-725c-3e4d-8d7b-3d03147a7d63","type":"PROCESSOR","groupId":"9bd5daed-6dec-3403-8ded-37ce447c9247","name":"RouteOnAttribute","comments":"","instanceIdentifier":"097aa345-41bd-3fc2-55fd-76d5f18279aa"},"destination":{"id":"66392d1c-a47f-3062-b086-d818dbb829d0","type":"INPUT_PORT","groupId":"42497813-165e-3e2c-87d1-1b6a0a4d1e17","name":"geratoken","instanceIdentifier":"99d3fd3d-b692-32f1-d293-fffee87e2e56"},"labelIndex":1,"zIndex":0,"selectedRelationships":["tokenParadigma"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"b80887e0-3f21-3c5c-9108-b95d3f8b8e82","instanceIdentifier":"8f45c01d-b78f-3cc1-8602-f606637e68b2","name":"","source":{"id":"0c001a06-835d-3014-a707-40a1f80b7d5d","type":"PROCESSOR","groupId":"9bd5daed-6dec-3403-8ded-37ce447c9247","name":"Entrada das Requisições","comments":"","instanceIdentifier":"eb044884-ca45-3ec3-4f92-8610109bd3b6"},"destination":{"id":"3d977057-725c-3e4d-8d7b-3d03147a7d63","type":"PROCESSOR","groupId":"9bd5daed-6dec-3403-8ded-37ce447c9247","name":"RouteOnAttribute","comments":"","instanceIdentifier":"097aa345-41bd-3fc2-55fd-76d5f18279aa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"35c95d25-cd86-3e3f-b28b-3b80c5a22897","instanceIdentifier":"4aff3824-05de-1710-ba71-135a93c8378b","name":"","source":{"id":"3d977057-725c-3e4d-8d7b-3d03147a7d63","type":"PROCESSOR","groupId":"9bd5daed-6dec-3403-8ded-37ce447c9247","name":"RouteOnAttribute","comments":"","instanceIdentifier":"097aa345-41bd-3fc2-55fd-76d5f18279aa"},"destination":{"id":"98637302-c09c-3ed1-84f5-3bcdba5017c3","type":"INPUT_PORT","groupId":"bf5fc46a-cccd-37bc-9711-555950fde10b","name":"Iniciar Carga Tabela","instanceIdentifier":"4aff3822-05de-1710-b228-d0d9de3e6aee"},"labelIndex":0,"zIndex":0,"selectedRelationships":["cargaTabela"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"},{"identifier":"d7eb850a-6314-387a-9600-e91df3d44f5e","instanceIdentifier":"19b24ef9-29c0-3d70-b8f7-aed7cd0218d8","name":"","source":{"id":"3d977057-725c-3e4d-8d7b-3d03147a7d63","type":"PROCESSOR","groupId":"9bd5daed-6dec-3403-8ded-37ce447c9247","name":"RouteOnAttribute","comments":"","instanceIdentifier":"097aa345-41bd-3fc2-55fd-76d5f18279aa"},"destination":{"id":"ad51a7c1-50b1-31a3-a47b-bcc9db821f79","type":"INPUT_PORT","groupId":"e3ad48ff-6175-3a9e-9030-9532fd0ce6c2","name":"Auditoria","instanceIdentifier":"2585201c-b646-3bc8-523a-8248fa29452c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["auditoria"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9bd5daed-6dec-3403-8ded-37ce447c9247"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{"81e7f096-cd3f-3b0d-bd79-22fcbcc142d7":{"identifier":"81e7f096-cd3f-3b0d-bd79-22fcbcc142d7","name":"SQLConnection_DATA_INTEGRAGATION_81"},"dc1ee35b-17a2-3cbf-9d93-4475c85125d7":{"identifier":"dc1ee35b-17a2-3cbf-9d93-4475c85125d7","name":"StandardHttpContextMap"},"b8138b4a-fde4-34bb-8eb6-c0114b28bcc6":{"identifier":"b8138b4a-fde4-34bb-8eb6-c0114b28bcc6","name":"AvroReader"},"c937d1d4-30fe-3174-87eb-6c6d7193ca84":{"identifier":"c937d1d4-30fe-3174-87eb-6c6d7193ca84","name":"JsonRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}