ENTRADA_FISICA.json
{"flowContents":{"identifier":"94740d4d-82cf-3223-bdd7-93e5b0843555","instanceIdentifier":"7a0633d5-33af-1c51-624d-4cc29462453a","name":"ENTRADA FÃSICA","comments":"","position":{"x":1072.0,"y":248.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"98ba15bd-c5c4-3844-8708-ef1b6371ac8e","instanceIdentifier":"7a0635ec-33af-1c51-82a9-937150f928d1","name":"ConsumeAMQP","comments":"","position":{"x":1728.0,"y":288.0},"type":"org.apache.nifi.amqp.processors.ConsumeAMQP","bundle":{"group":"org.apache.nifi","artifact":"nifi-amqp-nar","version":"2.0.0-M3"},"properties":{"ssl-context-service":null,"User Name":"torra_admin","batch.size":"10","Port":"5672","Brokers":null,"cert-authentication":"false","auto.acknowledge":"false","Host Name":"hml.services.torratorra.com.br","prefetch.count":"0","header.key.prefix":"consume.amqp","header.separator":",","AMQP Version":"0.9.1","header.format":"JSON String","Virtual Host":null,"Queue":"EntradasFisicasQueue","remove.curly.braces":"False"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"User Name":{"name":"User Name","displayName":"User Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"batch.size":{"name":"batch.size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Brokers":{"name":"Brokers","displayName":"Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cert-authentication":{"name":"cert-authentication","displayName":"Use Client Certificate Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.acknowledge":{"name":"auto.acknowledge","displayName":"Auto-Acknowledge Messages","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Host Name":{"name":"Host Name","displayName":"Host Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"prefetch.count":{"name":"prefetch.count","displayName":"Prefetch Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"header.key.prefix":{"name":"header.key.prefix","displayName":"Header Key Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"header.separator":{"name":"header.separator","displayName":"Header Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AMQP Version":{"name":"AMQP Version","displayName":"AMQP Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"header.format":{"name":"header.format","displayName":"Header Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Virtual Host":{"name":"Virtual Host","displayName":"Virtual Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Queue":{"name":"Queue","displayName":"Queue","identifiesControllerService":false,"sensitive":false,"dynamic":false},"remove.curly.braces":{"name":"remove.curly.braces","displayName":"Remove Curly Braces","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"67eaf640-0d32-3c56-b31d-003cdb375bac","instanceIdentifier":"7a0635f1-33af-1c51-aba8-431915cc4d3d","name":"ExecuteScript","comments":"","position":{"x":1728.0,"y":464.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.0.0-M3"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport groovy.json.JsonSlurper\nimport org.apache.commons.codec.binary.Base64\nimport java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (flowFile != null) {\n    def jsonContent = new StringBuilder()\n    def chaveNfe\n\n    // Read the content of the FlowFile and parse the JSON\n    flowFile = session.write(flowFile, { inputStream, outputStream ->\n        byte[] jsonBytes = inputStream.bytes\n        jsonContent.append(new String(jsonBytes, StandardCharsets.UTF_8))\n        outputStream.write(jsonBytes)\n    } as StreamCallback)\n\n    // Parse the JSON\n    def parsedJson = new JsonSlurper().parseText(jsonContent.toString())\n    if (parsedJson.chaveNfe) {\n        \n\tchaveNfe = parsedJson.chaveNfe\n\t\n        // Add attributes to the FlowFile\n        flowFile = session.putAttribute(flowFile, \"chaveNfe\", chaveNfe)\n\n        // Transfer the FlowFile to the success relationship\n        session.transfer(flowFile, ExecuteScript.REL_SUCCESS)\n    } else {\n        // Log the error and transfer the FlowFile to the failure relationship\n        session.transfer(flowFile, ExecuteScript.REL_FAILURE)\n    }\n}\n\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"cb8859a3-1cd9-3518-8295-8922027bdfca","instanceIdentifier":"7a0635ee-33af-1c51-4fb5-85cfb4c29741","name":"EvaluateJsonPath","comments":"","position":{"x":2176.0,"y":640.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"cor_produto":"$.CorProduto","Destination":"flowfile-attribute","tamanho":"$.Tamanho","produto":"$.Produto","Max String Length":"20 MB","Return Type":"auto-detect","pedido":"$.Pedido","Null Value Representation":"empty string","chave_nfe":"$.chaveNfe","quantidade":"$.Quantidade","Path Not Found Behavior":"ignore","item_xml":"$.ItemXML"},"propertyDescriptors":{"cor_produto":{"name":"cor_produto","displayName":"cor_produto","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tamanho":{"name":"tamanho","displayName":"tamanho","identifiesControllerService":false,"sensitive":false,"dynamic":true},"produto":{"name":"produto","displayName":"produto","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pedido":{"name":"pedido","displayName":"pedido","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"chave_nfe":{"name":"chave_nfe","displayName":"chave_nfe","identifiesControllerService":false,"sensitive":false,"dynamic":true},"quantidade":{"name":"quantidade","displayName":"quantidade","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"item_xml":{"name":"item_xml","displayName":"item_xml","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"2d568ddd-a76b-31b3-9070-99ba4782c522","instanceIdentifier":"7a063625-33af-1c51-1b6f-188c1692015d","name":"ATUALIZAR STATUS FALHA","comments":"","position":{"x":1472.0,"y":880.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"81e7f096-cd3f-3b0d-bd79-22fcbcc142d7","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"UPDATE ENTRADAS_FISICAS_PROCESSAMENTO SET DATA_PROCESSAMENTO = GETDATE(), STATUS_PROCESSAMENTO = 2 WHERE CHAVE_NFE =  '${chaveNfe}'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"687da0c4-0058-3368-8dcd-9096a37f39dd","instanceIdentifier":"7a0635ed-33af-1c51-6d6c-730894675ca8","name":"GERAR ENTRADAS","comments":"","position":{"x":1728.0,"y":640.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"617086cf-c49c-3110-985f-073adc3f9c81","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"EXEC TT_GERA_ENTRADA_FISICA_XML_BUS @CHAVE_NFE= '${chaveNfe}', @PEDIDO='${pedido}', @ITEM_XML = ${item_xml}, @PRODUTO ='${produto}', @COR_PRODUTO='${cor_produto}', @TAMANHO=${tamanho}, @Quantidade=${quantidade:replace(',','.')}","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"d593cba2-4ec4-3543-b094-4c4199415835","instanceIdentifier":"7a0635ef-33af-1c51-652b-150fb0e81b82","name":"SplitJson","comments":"","position":{"x":2176.0,"y":464.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.ItemsXML[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"d35a8c61-f903-3097-a11d-dc3657c8f07b","instanceIdentifier":"7a0635f0-33af-1c51-686c-23a05fadc3e3","name":"ATUALIZAR STATUS SUCESSO","comments":"","position":{"x":2112.0,"y":880.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"81e7f096-cd3f-3b0d-bd79-22fcbcc142d7","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"UPDATE ENTRADAS_FISICAS_PROCESSAMENTO SET DATA_PROCESSAMENTO = GETDATE(), STATUS_PROCESSAMENTO = 1 WHERE CHAVE_NFE =  '${chaveNfe}'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"29fc677e-718f-3577-b641-3e2381367eab","instanceIdentifier":"7a0635f5-33af-1c51-0dfd-ee2b4f876c2f","name":"","source":{"id":"98ba15bd-c5c4-3844-8708-ef1b6371ac8e","type":"PROCESSOR","groupId":"94740d4d-82cf-3223-bdd7-93e5b0843555","name":"ConsumeAMQP","comments":"","instanceIdentifier":"7a0635ec-33af-1c51-82a9-937150f928d1"},"destination":{"id":"67eaf640-0d32-3c56-b31d-003cdb375bac","type":"PROCESSOR","groupId":"94740d4d-82cf-3223-bdd7-93e5b0843555","name":"ExecuteScript","comments":"","instanceIdentifier":"7a0635f1-33af-1c51-aba8-431915cc4d3d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"454d4bd2-3942-38f3-99df-78d71b94ebd9","instanceIdentifier":"7a0635f4-33af-1c51-1a7d-de16a3f9fa69","name":"","source":{"id":"687da0c4-0058-3368-8dcd-9096a37f39dd","type":"PROCESSOR","groupId":"94740d4d-82cf-3223-bdd7-93e5b0843555","name":"GERAR ENTRADAS","comments":"","instanceIdentifier":"7a0635ed-33af-1c51-6d6c-730894675ca8"},"destination":{"id":"d35a8c61-f903-3097-a11d-dc3657c8f07b","type":"PROCESSOR","groupId":"94740d4d-82cf-3223-bdd7-93e5b0843555","name":"ATUALIZAR STATUS SUCESSO","comments":"","instanceIdentifier":"7a0635f0-33af-1c51-686c-23a05fadc3e3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"7f0d92f4-9750-3d54-a7ae-67464373981e","instanceIdentifier":"7a0635f2-33af-1c51-4d0a-2fe4e0534241","name":"","source":{"id":"d593cba2-4ec4-3543-b094-4c4199415835","type":"PROCESSOR","groupId":"94740d4d-82cf-3223-bdd7-93e5b0843555","name":"SplitJson","comments":"","instanceIdentifier":"7a0635ef-33af-1c51-652b-150fb0e81b82"},"destination":{"id":"cb8859a3-1cd9-3518-8295-8922027bdfca","type":"PROCESSOR","groupId":"94740d4d-82cf-3223-bdd7-93e5b0843555","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"7a0635ee-33af-1c51-4fb5-85cfb4c29741"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"918fdb57-0ee4-3559-99d6-c858eedbc1c2","instanceIdentifier":"36201a20-1c55-13af-50e3-323b8b4797e8","name":"","source":{"id":"687da0c4-0058-3368-8dcd-9096a37f39dd","type":"PROCESSOR","groupId":"94740d4d-82cf-3223-bdd7-93e5b0843555","name":"GERAR ENTRADAS","comments":"","instanceIdentifier":"7a0635ed-33af-1c51-6d6c-730894675ca8"},"destination":{"id":"2d568ddd-a76b-31b3-9070-99ba4782c522","type":"PROCESSOR","groupId":"94740d4d-82cf-3223-bdd7-93e5b0843555","name":"ATUALIZAR STATUS FALHA","comments":"","instanceIdentifier":"7a063625-33af-1c51-1b6f-188c1692015d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"b3e828a4-e371-36ae-962b-377e14ad3553","instanceIdentifier":"7a0635f3-33af-1c51-42d0-0c8ed436fd89","name":"","source":{"id":"cb8859a3-1cd9-3518-8295-8922027bdfca","type":"PROCESSOR","groupId":"94740d4d-82cf-3223-bdd7-93e5b0843555","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"7a0635ee-33af-1c51-4fb5-85cfb4c29741"},"destination":{"id":"687da0c4-0058-3368-8dcd-9096a37f39dd","type":"PROCESSOR","groupId":"94740d4d-82cf-3223-bdd7-93e5b0843555","name":"GERAR ENTRADAS","comments":"","instanceIdentifier":"7a0635ed-33af-1c51-6d6c-730894675ca8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"4d6ed2f5-8cf1-3ac0-9295-4ff6d74e2db1","instanceIdentifier":"7a0635f6-33af-1c51-7049-44213889a40a","name":"","source":{"id":"67eaf640-0d32-3c56-b31d-003cdb375bac","type":"PROCESSOR","groupId":"94740d4d-82cf-3223-bdd7-93e5b0843555","name":"ExecuteScript","comments":"","instanceIdentifier":"7a0635f1-33af-1c51-aba8-431915cc4d3d"},"destination":{"id":"d593cba2-4ec4-3543-b094-4c4199415835","type":"PROCESSOR","groupId":"94740d4d-82cf-3223-bdd7-93e5b0843555","name":"SplitJson","comments":"","instanceIdentifier":"7a0635ef-33af-1c51-652b-150fb0e81b82"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"81e7f096-cd3f-3b0d-bd79-22fcbcc142d7","instanceIdentifier":"1a2a7c93-3796-31cd-cf1c-b49b307ead4e","name":"SQLConnection_DATA_INTEGRAGATION_81","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M3"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:sqlserver://172.16.103.32;dataBaseName=ESB;encrypt=true;trustServerCertificate=true;","dbcp-time-between-eviction-runs":"-1","Database User":"userservicenifi","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"lib\\mssql-jdbc-12.8.1.jre11.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7a0633d5-33af-1c51-624d-4cc29462453a"},{"identifier":"617086cf-c49c-3110-985f-073adc3f9c81","instanceIdentifier":"d727b30c-c476-36cb-4a25-fa295b45ab8d","name":"SQLConnection_LINX_DCSQL01","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M3"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:sqlserver://172.16.103.32;dataBaseName=LINX_HOMOLOG;encrypt=true;trustServerCertificate=true;","dbcp-time-between-eviction-runs":"-1","Database User":"userservicenifi","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"lib\\mssql-jdbc-12.8.1.jre11.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7a0633d5-33af-1c51-624d-4cc29462453a"},{"identifier":"cba1068f-ee36-32c3-96e4-551bea1a20e0","instanceIdentifier":"7a0633d7-33af-1c51-c30e-ca7f26b93d74","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M3"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"2fb073ac-0f12-3167-8e4f-619d0a5686e2","instanceIdentifier":"7a0633d8-33af-1c51-f56a-8e76b5b7aae1","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M3"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"},{"identifier":"dbfa9364-e32b-36c4-ae06-45da18c380f7","instanceIdentifier":"7a0633d6-33af-1c51-4497-9e8f2256fccb","name":"XMLReader","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M3"},"properties":{"schema-reference-reader":null,"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"parse_xml_attributes":"true","record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parse_xml_attributes":{"name":"parse_xml_attributes","displayName":"Parse XML Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"94740d4d-82cf-3223-bdd7-93e5b0843555"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}
